*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: bisque;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
}

header img{
    width: 200px;
    height: 200px;
}

header nav ul{
    list-style: none;
    display: flex;
    column-gap: 20px;
    padding: 20px 40px;
    font-size: 15px;
}

header nav ul li a{
    text-decoration: none;
    color: black;
}

section{
    margin-top: 50px;
}

section h1{
    margin: 20px;
    font-size: 60px;
    text-align: center;
}


footer{
    background-color: beige;
}

footer p{
    margin: 0;
    color: gray;
}

footer .conteiner-footer{
    margin-top: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.contenedor-flex{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
}

.card{
    width: 350px;
    height: 250px;
    margin: 50px;
    padding: 50px;
}

.card img{
    width: 100%;
}
.bombilla{
    height: 300px;
}

.card-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

/*Sobre nostros*/
.nosotros-p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}




/*Contacto*/
.conteiner-contacto{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}




