
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: Arial, Helvetica, sans-serif;
}

@import "header";
@import "main-index";



    


    footer{
        background-color: beige;
        p{
            margin: 0;
            color: gray;
        }
        .conteiner-footer{
            margin-top: 150px;
            height: 150px;
            display: flex;
            justify-content: center;
            align-items: flex-end;
        }
    }


        .card-text{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin: 20px;
        }

        /*Sobre nostros*/
.nosotros-p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

/*Contacto*/
.conteiner-contacto{
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 30px;
    .mapa-contacto iframe{
        width: 100%;
    }
}

/* Creá tu cuenta */
.formulario{
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

@media screen and (min-width: 768px){
    header{
        flex-direction: row;
    }

    header nav ul{
        flex-direction: row;
    }
}

@media screen and (min-width: 1024px){
    .conteiner-contacto{
        flex-direction: row;
    }
}
